<mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="note__title">
            {{note.title}}
          </mat-panel-title>
        </mat-expansion-panel-header>
      
        <div class="note__content">
            <div class="note__meta">
                <p class="mat-small">Postado {{postedDate}}</p>
                <p class="mat-small" *ngIf="updatedDate">Editado {{ updatedDate }}</p>
            </div>
            <div class="note__text">
                {{note.content}}
            </div>
            <div class="note__actions">
                    <button color="accent" (click)="editPost()" mat-raised-button class="note__button">Editar</button>
                    <button color="warn" (click)="deletePost()" mat-raised-button class="note__button">Apagar</button>
            </div>
        </div>
      
</mat-expansion-panel>